<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Details</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
</head>
<body>
    <form action="" th:action="@{/guest}" method="POST" th:object="${guests}">
        <label>Category:
            <input type="text" name="category">
        </label><br><br><br>
        <label>Name:
            <input type="text" name="name">
        </label><br><br><br>
        <label>Designation:
            <input type="text" name="designation">
        </label><br><br><br>
        <label>Organization:
            <input type="text" name="organization">
        </label><br><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
</body>
</html>