<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Event Details</title>
</head>
<body>
    <form action="#" th:action="@{/update}" th:each="event : ${events}" method="POST" th:object="${events}">
         <label>Department Name:
             <input type="text" th:value="${event.department_name}" name="department_name">
        </label><br><br><br>
        <label>Applied Date:
            <input type="date" th:value="${event.applied_date}" name="applied_date">
       </label><br><br><br>
        <label>Event Reference No:
            <input type="text" th:value="${event.event_reference_no}" name="event_reference_no" >
        </label><br><br><br>
        <label>Event Title:
            <input type="text" th:value="${event.event_title}" name="event_title">
        </label><br><br><br>
        <label>Event Type:
            <input type="text"th:value="${event.event_type}" name="event_type">
        </label><br><br><br>
        <label>Level:
            <input type="text" th:value="${event.event_level}" name="event_level">
        </label><br><br><br>
        <label>No.of Days:
            <input type="number" th:value="${event.no_of_days}" name="no_of_days">
        </label><br><br><br>
        <label>IQAC/AEGIS:
            <input type="text" th:value="${event.iqac_aegis}" name="iqac_aegis">
        </label><br><br><br>
        <label>Sponsoring Agency:
            <input type="text" th:value="${event.sponsoring_agency}" name="sponsoring_agency">
        </label><br><br><br>
        <label>Collabrators:
            <input type="text" th:value="${event.collaborators}" name="collaborators">
        </label><br><br><br>
        <label>From:
            <input type="date" th:value="${event.from_date}" name="from_date">
        </label><br><br><br>
        <label>To:
            <input type="date" th:value="${event.to_date}" name="to_date">
        </label><br><br><br>
        <label>Venue:
            <input type="text" th:value="${event.venue}" name="venue">
        </label><br><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
